.gallery-style {
  display: flex;
  list-style: none;
  text-align: center;
}

img {
  width: 400px;
  height: 300px;
  border-radius: 50px;
  margin-left: 20px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
